In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('../input/brasilian-houses-to-rent/houses_to_rent.csv')
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [4]:
df.drop(df.columns[0],axis=1,inplace=True)

In [5]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [6]:
df['floor'].replace(to_replace='-',value=0,inplace=True)

In [7]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,0,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [10]:
df['animal'].replace(to_replace='acept',value=1,inplace=True)
df['animal'].replace(to_replace='not acept',value=0,inplace=True)

df['furniture'].replace(to_replace='furnished',value=1,inplace=True)
df['furniture'].replace(to_replace='not furnished',value=0,inplace=True)

In [11]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,1,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,1,0,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,1,1,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,1,0,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,0,0,0,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [16]:
for i in ['hoa','rent amount','property tax','fire insurance','total']:
    df[i].replace(to_replace='R\$',value='',regex=True,inplace=True)
    df[i].replace(to_replace=',',value='',regex=True,inplace=True)

In [17]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,1,0,8000,1000,121,9121
1,0,64,2,1,1,10,1,0,540,820,122,11,1493
2,1,443,5,5,4,3,1,1,4172,7000,1417,89,12680
3,1,73,2,2,1,12,1,0,700,1250,150,16,2116
4,1,19,1,1,0,0,0,0,0,1200,41,16,1257

In [18]:
#casting entire df into integers
df=df.astype(np.int64)

ValueError: invalid literal for int() with base 10: 'Sem info'

In [20]:
df.isin(['Sem info']).any()

city              False
area              False
rooms             False
bathroom          False
parking spaces    False
floor             False
animal            False
furniture         False
hoa                True
rent amount       False
property tax      False
fire insurance    False
total             False
dtype: bool

In [21]:
df['hoa'].replace(to_replace='Sem info',value=0,inplace=True)

In [22]:
df.isin(['Sem info']).any()

city              False
area              False
rooms             False
bathroom          False
parking spaces    False
floor             False
animal            False
furniture         False
hoa               False
rent amount       False
property tax      False
fire insurance    False
total             False
dtype: bool

In [23]:
#casting entire df into integers
df=df.astype(np.int64)

ValueError: invalid literal for int() with base 10: 'Incluso'

In [24]:
df.isin(['Incluso']).any()

city              False
area              False
rooms             False
bathroom          False
parking spaces    False
floor             False
animal            False
furniture         False
hoa                True
rent amount       False
property tax       True
fire insurance    False
total             False
dtype: bool

In [25]:
df['hoa'].replace(to_replace='Incluso',value=0,inplace=True)
df['property tax'].replace(to_replace='Incluso',value=0,inplace=True)

In [26]:
df.isin(['Incluso']).any()

city              False
area              False
rooms             False
bathroom          False
parking spaces    False
floor             False
animal            False
furniture         False
hoa               False
rent amount       False
property tax      False
fire insurance    False
total             False
dtype: bool

In [27]:
df=df.astype(np.int64)

In [32]:
df=df.sample(frac=1).reset_index(drop=True)

In [34]:
df.head()
df.drop(df.columns[0],axis=1,inplace=True)

In [35]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,54,1,1,0,2,1,0,175,1732,0,6,1913
1,1,315,4,4,2,14,1,0,3500,7450,0,95,11050
2,0,578,4,5,8,0,1,0,0,9500,787,143,10430
3,1,73,2,2,2,2,1,0,900,2652,107,9,3668
4,1,87,2,2,1,5,1,0,2100,2975,117,38,5230

In [37]:
y=df['city']
x=df.drop(['city'],axis=1)

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
from sklearn.preprocessing import MinMaxScaler

In [46]:
scaler=MinMaxScaler()
scaler.fit(x)
x=scaler.transform(x)

In [47]:
x

array([[0.00178891, 0.        , 0.        , ..., 0.        , 0.00445104,
        0.00336792],
       [0.01240039, 0.33333333, 0.33333333, ..., 0.        , 0.13649852,
        0.0279271 ],
       [0.02309319, 0.33333333, 0.44444444, ..., 0.00214851, 0.20771513,
        0.02626062],
       ...,
       [0.00772483, 0.33333333, 0.66666667, ..., 0.00156975, 0.17507418,
        0.02159983],
       [0.00630184, 0.22222222, 0.33333333, ..., 0.00156429, 0.08160237,
        0.01658693],
       [0.01301025, 0.11111111, 0.22222222, ..., 0.00199836, 0.05934718,
        0.00783518]])

In [48]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.001789,0.000000,0.000000,0.000000,0.020202,1.0,0.0,0.000795,0.029430,0.000000,0.004451,0.003368
1,0.012400,0.333333,0.333333,0.166667,0.141414,1.0,0.0,0.015909,0.157694,0.000000,0.136499,0.027927
2,0.023093,0.333333,0.444444,0.666667,0.000000,1.0,0.0,0.000000,0.203679,0.002149,0.207715,0.026261
3,0.002561,0.111111,0.111111,0.166667,0.020202,1.0,0.0,0.004091,0.050067,0.000292,0.008902,0.008085
4,0.003131,0.111111,0.111111,0.083333,0.050505,1.0,0.0,0.009545,0.057313,0.000319,0.051929,0.012284
...,...,...,...,...,...,...,...,...,...,...,...,...
6075,0.011791,0.333333,0.333333,0.333333,0.191919,1.0,1.0,0.012727,0.192463,0.004551,0.166172,0.034727
6076,0.001138,0.000000,0.000000,0.083333,0.010101,1.0,1.0,0.002727,0.035442,0.000000,0.007418,0.005236
6077,0.007725,0.333333,0.666667,0.333333,0.000000,1.0,1.0,0.000000,0.170031,0.001570,0.175074,0.021600
6078,0.006302,0.222222,0.333333,0.250000,0.070707,1.0,0.0,0.007727,0.091521,0.001564,0.081602,0.016587
6079,0.013010,0.111111,0.222222,0.166667,0.000000,0.0,0.0,0.000000,0.053387,0.001998,0.059347,0.007835

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8)

In [53]:
x_train.shape

(4864, 12)

In [54]:
y_train.shape

(4864,)

In [55]:
x_test.shape

(1216, 12)

In [56]:
y_test.shape

(1216,)

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [62]:
logmodel=LogisticRegression(penalty='l2',verbose=1)
svmmodel=SVC(kernel='rbf',verbose=1)
nnmodel=MLPClassifier(hidden_layer_sizes=(16,16),activation='relu',solver='adam',verbose=1)

In [63]:
logmodel.fit(x_train,y_train)
svmmodel.fit(x_train,y_train)
nnmodel.fit(x_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
 This problem is unconstrained.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =           13     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f=  3.37147D+03    |proj g|=  1.76000D+03

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F
   13     42     47      1     0     0   1.869D-02   1.800D+03
  F =   1799.5159330372435

CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH
[LibSVM]..
Warning: using -h 0 may be faster
*...
Warning: using -h 0 may be faster
*.
Warning: using -h 0 may be faster
*
optimization finished, #iter = 5808
obj = -1343.715886, rho = 0.974966
nSV = 1512, nBSV = 1227
Total nSV = 1512
Iteration 1, loss = 0.79396315
Iteration 2, loss = 0.66925712
Iteration 3, loss = 0.55767867
Iteration 4, loss = 0.46766161
Iteration 5, loss = 0.42398812
Iteration 6, loss = 0.41118099
Iteration 7, loss = 0.40740471
Iteration 8, loss = 0.40515388
Iteration 9, loss = 0.40298487
Iteration 10, loss = 0.40098516
Iteration 11, loss = 0.39912223
Iteration 12, loss = 0.39723553
Iteration 13, loss = 0.39515134
Iteration 14, loss = 0.39330085
Iteration 15, loss = 0.39120747
Iteration 16, loss = 0.38851595
Iteration 17, loss = 0.38597052
Iteration 18, loss = 0.38374448
Iteration 19, loss = 0.38181955
Iteration 20, loss = 0.38026395
Iteration 21, loss = 0.37867297
Iteration 22, loss = 0.37729444
Iteration 23, loss = 0.37589038
Iteration 24, loss = 0.37486707
Iteration 25, loss = 0.37396078
Iteration 26, loss = 0.37267821
Iteration 27, loss = 0.37185530
Iteration 28, loss = 0.37056973
Iteration 29, loss = 0.36965873
Iteration 30, loss = 0.36883304
Iteration 31, loss = 0.36816182
Iteration 32, loss = 0.36756126
Iteration 33, loss = 0.36642480
Iteration 34, loss = 0.36562470
Iteration 35, loss = 0.36489859
Iteration 36, loss = 0.36418406
Iteration 37, loss = 0.36306676
Iteration 38, loss = 0.36255282
Iteration 39, loss = 0.36192162
Iteration 40, loss = 0.36127743
Iteration 41, loss = 0.36064244
Iteration 42, loss = 0.35997293
Iteration 43, loss = 0.35934695
Iteration 44, loss = 0.35857082
Iteration 45, loss = 0.35784331
Iteration 46, loss = 0.35742023
Iteration 47, loss = 0.35690924
Iteration 48, loss = 0.35621280
Iteration 49, loss = 0.35580638
Iteration 50, loss = 0.35517679
Iteration 51, loss = 0.35478249
Iteration 52, loss = 0.35412779
Iteration 53, loss = 0.35370359
Iteration 54, loss = 0.35351050
Iteration 55, loss = 0.35303312
Iteration 56, loss = 0.35265837
Iteration 57, loss = 0.35209171
Iteration 58, loss = 0.35173898
Iteration 59, loss = 0.35136367
Iteration 60, loss = 0.35157091
Iteration 61, loss = 0.35057282
Iteration 62, loss = 0.35081591
Iteration 63, loss = 0.35034858
Iteration 64, loss = 0.34981689
Iteration 65, loss = 0.34934214
Iteration 66, loss = 0.34900919
Iteration 67, loss = 0.34852042
Iteration 68, loss = 0.34842401
Iteration 69, loss = 0.34799032
Iteration 70, loss = 0.34752493
Iteration 71, loss = 0.34718300
Iteration 72, loss = 0.34711980
Iteration 73, loss = 0.34662397
Iteration 74, loss = 0.34617266
Iteration 75, loss = 0.34566266
Iteration 76, loss = 0.34539558
Iteration 77, loss = 0.34527488
Iteration 78, loss = 0.34436219
Iteration 79, loss = 0.34402332
Iteration 80, loss = 0.34392921
Iteration 81, loss = 0.34323504
Iteration 82, loss = 0.34257098
Iteration 83, loss = 0.34240574
Iteration 84, loss = 0.34176185
Iteration 85, loss = 0.34105895
Iteration 86, loss = 0.34058509
Iteration 87, loss = 0.34004976
Iteration 88, loss = 0.33952943
Iteration 89, loss = 0.33873234
Iteration 90, loss = 0.33867836
Iteration 91, loss = 0.33801878
Iteration 92, loss = 0.33757163
Iteration 93, loss = 0.33704956
Iteration 94, loss = 0.33611429
Iteration 95, loss = 0.33620519
Iteration 96, loss = 0.33506272
Iteration 97, loss = 0.33516110
Iteration 98, loss = 0.33400177
Iteration 99, loss = 0.33323583
Iteration 100, loss = 0.33275938
Iteration 101, loss = 0.33236793
Iteration 102, loss = 0.33232136
Iteration 103, loss = 0.33115233
Iteration 104, loss = 0.33149173
Iteration 105, loss = 0.32978995
Iteration 106, loss = 0.32921157
Iteration 107, loss = 0.32919826
Iteration 108, loss = 0.32830721
Iteration 109, loss = 0.32778714
Iteration 110, loss = 0.32727166
Iteration 111, loss = 0.32708702
Iteration 112, loss = 0.32611938
Iteration 113, loss = 0.32506421
Iteration 114, loss = 0.32606988
Iteration 115, loss = 0.32435845
Iteration 116, loss = 0.32404934
Iteration 117, loss = 0.32361185
Iteration 118, loss = 0.32290720
Iteration 119, loss = 0.32219959
Iteration 120, loss = 0.32185473
Iteration 121, loss = 0.32127768
Iteration 122, loss = 0.32065281
Iteration 123, loss = 0.31987980
Iteration 124, loss = 0.31975491
Iteration 125, loss = 0.31847037
Iteration 126, loss = 0.31813110
Iteration 127, loss = 0.31766982
Iteration 128, loss = 0.31698504
Iteration 129, loss = 0.31654228
Iteration 130, loss = 0.31586137
Iteration 131, loss = 0.31611290
Iteration 132, loss = 0.31540927
Iteration 133, loss = 0.31470928
Iteration 134, loss = 0.31371011
Iteration 135, loss = 0.31378236
Iteration 136, loss = 0.31308126
Iteration 137, loss = 0.31248913
Iteration 138, loss = 0.31225880
Iteration 139, loss = 0.31187082
Iteration 140, loss = 0.31153716
Iteration 141, loss = 0.31074329
Iteration 142, loss = 0.31080387
Iteration 143, loss = 0.30987893
Iteration 144, loss = 0.31182471
Iteration 145, loss = 0.30947167
Iteration 146, loss = 0.30860042
Iteration 147, loss = 0.30875417
Iteration 148, loss = 0.30851340
Iteration 149, loss = 0.30851241
Iteration 150, loss = 0.30760647
Iteration 151, loss = 0.30711522
Iteration 152, loss = 0.30703578
Iteration 153, loss = 0.30645882
Iteration 154, loss = 0.30586473
Iteration 155, loss = 0.30582842
Iteration 156, loss = 0.30769702
Iteration 157, loss = 0.30731482
Iteration 158, loss = 0.30561742
Iteration 159, loss = 0.30628835
Iteration 160, loss = 0.30457045
Iteration 161, loss = 0.30508664
Iteration 162, loss = 0.30420805
Iteration 163, loss = 0.30364649
Iteration 164, loss = 0.30394987
Iteration 165, loss = 0.30276009
Iteration 166, loss = 0.30346112
Iteration 167, loss = 0.30251022
Iteration 168, loss = 0.30301939
Iteration 169, loss = 0.30174633
Iteration 170, loss = 0.30150950
Iteration 171, loss = 0.30117686
Iteration 172, loss = 0.30153809
Iteration 173, loss = 0.30076298
Iteration 174, loss = 0.30075772
Iteration 175, loss = 0.30041814
Iteration 176, loss = 0.30008995
Iteration 177, loss = 0.29991247
Iteration 178, loss = 0.29952889
Iteration 179, loss = 0.29985027
Iteration 180, loss = 0.29886603
Iteration 181, loss = 0.29898478
Iteration 182, loss = 0.29804529
Iteration 183, loss = 0.29818700
Iteration 184, loss = 0.29832410
Iteration 185, loss = 0.29786841
Iteration 186, loss = 0.29710877
Iteration 187, loss = 0.29753075
Iteration 188, loss = 0.29726845
Iteration 189, loss = 0.29730843
Iteration 190, loss = 0.29662853
Iteration 191, loss = 0.29652252
Iteration 192, loss = 0.29612544
Iteration 193, loss = 0.29656314
Iteration 194, loss = 0.29725603
Iteration 195, loss = 0.29476718
Iteration 196, loss = 0.29710906
Iteration 197, loss = 0.29562982
Iteration 198, loss = 0.29543654
Iteration 199, loss = 0.29499595
Iteration 200, loss = 0.29495306

/opt/conda/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

MLPClassifier(hidden_layer_sizes=(16, 16), verbose=1)

In [64]:
print(logmodel.score(x_test,y_test))
print(svmmodel.score(x_test,y_test))
print(nnmodel.score(x_test,y_test))

0.8692434210526315
0.8692434210526315
0.8930921052631579

In [66]:
#total number of positive in our class
df[df.columns[0]].sum()/df.shape[0]
#df[df.columns[0]].sum() -- sums up all '1''s --city and df.shape[0]--total number of samples

0.8633223684210526

In [67]:
#lets say we predicted y=1 for all examples ..then 86% of the time we will be correct -- 
#bcoz 86% of data target is positive

In [68]:
#accuracy will be good -- only if we have equal number of positive and negative target. 
#above is skewed data

In [69]:
from sklearn.metrics import f1_score

In [70]:
log_pred=logmodel.predict(x_test)
svm_pred=svmmodel.predict(x_test)
nn_pred=nnmodel.predict(x_test)

In [71]:
print(f1_score(log_pred,y_test))
print(f1_score(svm_pred,y_test))
print(f1_score(nn_pred,y_test))

0.9300483941926969
0.9300483941926969
0.940909090909091